#prohead {
    width: 50%;
    text-align: center;
    border-bottom: #021833 2px solid;
    margin-left: 25%;
}

#divselect {
    font-size: 27px;
    text-align: center;
    padding-bottom: 563px;
}

