
#logo {
    width: 75px;
    height: 75px;
    margin-top: -7px;
    padding-bottom: 10px;
}

#bannerimg {
    width: 1500px;
    height: 200px;
    object-fit: cover;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 1.1;
    padding: 0;
    margin: 0;
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden
}

a {
    text-decoration: none;
}

a:link {
    color:#1161c4
}

a:hover {
    color: #5d9eef
}

a:visited {
    color: #084087;
}

ul {
    padding: 0;
    margin: 0;
}

/* Header */

header {
    background: white;
    color: black;
    padding-top: 25px;
    min-height: 70px;
    border-bottom: #021833 3px solid;
}

header a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}


header li {
    float: left;
    display: inline;
    padding: 0 10px 0 10px;
}

header #branding {
    float: left;
}

header #branding h1 {
    set margin: 0;
}

header nav {
    float: right;
    margin-top: 23px
}

header .highlight, header .current a {
    color: #1161c4;   
}

header a:hover {
    color: #5d9eef;
}

/* Showcase */

#showcase {
    min-height: 400px; 
    background:url("../img/codebackbanner.jpg") no-repeat 0 -400px;
}

#showcase h1 {
    color: #ffffff;
    font-family: 'Oswald', 'Roboto Condensed', sans-serif;
    font-size: 90px;
    text-shadow: 2px 2px rgba(0 0 0 );
    text-align: center;
    padding-top: 65px;
}

/* Description */

#description {
    text-align: center;
    font-size: 18px;
}

/* Footer */
footer {
    border-top: #021833 3px solid;
    margin-top: px;
}

#copywrite {
    text-align: center;
    font-size: 13px;
}

#credits {
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
}

#disclaimer {
    font-size: 15px;
    text-align: center;
    margin-top: -28px;
    margin-bottom: 0;
}

#license img{
    float: right;
    margin-top: -27px;
}

#license {
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -2px;

}





#prohead {
    width: 50%;
    text-align: center;
    border-bottom: #021833 2px solid;
    margin-left: 25%;
}

#divselect {
    font-size: 27px;
    text-align: center;
    padding-bottom: 640px;
    margin-left: 
}
